# Database Configuration
# DATABASE_URL=oracle+oracledb://username:password@localhost:1521/xe

# JWT Configuration
SECRET_KEY=4551db4eb9b7e2fc6d01ac8baa71de21d20ede822e38123f4836ef385f11ae5a
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Gemini AI Configuration
GEMINI_API_KEY=AIzaSyCGyQWcR5nz4ahfCtXb31URojU58WAxUJg

# 
# Application Configuration
# AIzaSyBlPq0u-DUyGpEDAuX9-JX2i7SJmlFqIQI
# 


DEBUG=True
HOST=0.0.0.0
PORT=8000
